<%= nested_form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%#= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <h5 style="color:blue" > Професии: </h5>
 <%= f.fields_for :jobs , :html => {:multipart => true,  :class => 'form-horizontal' } do |job_form| %>
    
          <div class="control-group">
            
            <div class="controls">
              <%= job_form.text_field :name , :rows =>3, :style=>"width:500px;" %>
              <%= job_form.link_to_remove "Удалить" , :class => 'btn btn-mini btn-danger'%>
            </div>
          </div>
  <% end %>
  <p><%= f.link_to_add "Добавить профессию", :jobs  , :class=>"btn btn-mini btn-success  pull-right"%></p>
  <br>
  <br>


  <div class="form-actions">
    <%= f.submit "Сохранить", :class => 'btn btn-primary' %>
    <%= link_to "Отмена",
                services_path, :class => 'btn' %>
  </div>
<% end %>
