<%- model_class = Service -%>
<div class="alert alert-info">
  
  <h4 style="color:light-blue" >Сферы деятельности </h4>
</div>
<table class="table table-striped">
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td style="width:85%;"><%= service.name %> <span class="muted">(количество профессий: <%=service.jobs.size %> )</span> </td>
        <td>
          <%= link_to "Редактировать",
                      edit_service_path(service), :class => 'btn btn-mini' %>
          <%= link_to "Удалить",
                      service_path(service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to  "Добавить" ,
            new_service_path,
            :class => 'btn btn-primary' %>
            <br />
            <br />

<%- model_class = Question -%>
<div class="page-header">
</div>
<div class="alert alert-info">
  <h4><%=t '.title', :default =>"Вопросы:"  %></h4>
</div>
<table class="table table-striped">
  
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td style="width:85%;">
          <%= question.text %>
          <br />
          <ul class="">
            <% question.variants.each do |variant|%>
              <% 
                jobs = ""
                variant.jobs.each do |j|
                  jobs << " #{j.name} "
                end
           
           
            %>
            <li> <%= variant.text %> , <span class="muted"> ( <%=jobs %> <%= link_to "ред.", :controller => :variants, :action => :edit , :id => variant.id %> ) </li>
          <% end %>
          </ul>
        </td>
        <td>
          <%= link_to "Редактировать",
                      edit_question_path(question), :class => 'btn btn-mini' %>
          <%= link_to  "Удалить",
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
     
    <% end %>
  </tbody>
</table>

<%= link_to "Добавить",
            new_question_path,
            :class => 'btn btn-primary' %>
