<div class="row">
  <div class="span4 offset4">
  <h2 class="muted"> Резюме </h2>
</div>
</div>
<%# @person = Person.last %>
<%- model_class = Person -%>
<hr>

<div class="alert alert-info">
  <h4><%=t '.title', :default => "Персональная ифнормация:" %></h4>
</div>
<div class="row" >
 
  <div class="span8">
    <h4>
    <dl class="dl-horizontal">
    <dt><strong>Имя:</strong></dt>
    <dd><%= @person.first_name %></dd>
    <dt><strong>Фамилия: </strong></dt>
    <dd><%= @person.last_name %></dd>
    <dt><strong>Пол:</strong></dt>
    <dd><%= @person.sex %></dd>
    <dt><strong>№:</strong></dt>
    <dd><%= @person.school_number %></dd>
    <dt><strong>Тип:</strong></dt>
    <dd><%= @person.school_type %></dd>
    <dt><strong>Класс:</strong></dt>
    <dd><%= @person.klass %></dd>
  </dl>
  </h4>
  </div>
  <div class="span4" >
 <a href="#" class="thumbnail">
                  <img data-src="holder.js/260x180" alt="">
                </a>
  </div>

</div>
<hr>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Интересы:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted">
    <ul>
      <% @person.variants.each do |variant| %> 
        <li> <h5> <%= variant.text %> </h5> </li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Рекомендуемая сфера деятельности:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted">
    <h5> <%= Service.first.name %> </h5>
  </div>
</div>

<hr>
<div  class="alert alert-info">
  <h4><%=t '.title', :default => "Рекомендуемые профессии КидЛандии:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted ">
    <%
    list=""  
    @person.variants.each do |variant|
      variant.jobs.each do |job|
        list << " #{job.name} "
      end
    end
    %>
    <% list.split(" ").each do |l|%>
      <li> <h5> <%= l %></h5> </li>
    <% end %>
      <h4> <%#= list %></h4>
  </div>
</div>
<hr />

<div class="form-actions">
<%= link_to "Печать", "#" , :remote => true , :class => "btn btn-large btn-primary"%>
  <%= link_to "Назад",
    people_path, :class => 'btn'  %>
</div>
