<% title "Job" %>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>
<p>
  <strong>Service:</strong>
  <%= @job.service_id %>
</p>

<p>
  <%= link_to "Edit", edit_job_path(@job) %> |
  <%= link_to "Destroy", @job, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", jobs_path %>
</p>
