 <script>  
  $(document).ready(function() {
    $(".btnPrint").printPage(
    {
      url: "/resume/print_resume",
      attr: "href",
      message:"Идет печать ..."
}
    );
  });
</script>
<div id="print_page">
<div class="row">
  <div class="span4 offset4">
    <h2 class="muted"> Резюме </h2>
  </div>
</div>
<% @person = Person.last %>
<%- model_class = Person -%>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Персональная ифнормация:" %></h4>
</div>
<table style="width:90%;" >
  <tr>
    <td style="width:50%">
      <table>
        <tr>
          <td> Имя:</td>
          <td> <%= @person.first_name %></td>
        </tr>
        <tr>
          <td> Фамилия:</td>
          <td> <%= @person.last_name %></td>
        </tr>
        <tr>
          <td> Пол:</td>
          <td> <%= @person.sex %></td>
        </tr>
        <tr>
          <td> Возраст:</td>
          <td> <%= @person.age %></td>
        </tr>
        <tr>
          <td>Место учебы: </td>
          <td> <%= @person.school_type %> №:<%= @person.school_number %>, <%= @person.klass %>  </td>
        </tr>
      </table>  
    
    </td>
    <td>
      <div>
        <% if @person.headshot_photos.size >0  %>
          <%= image_tag @person.headshot_photos.last.image.url %>
        <% end %>
      </div>
    </td>
  
  </tr>
</table>
<%
=begin
%>
<div class="row" >
 
  <div class="span4">
    <h4>
    <dl class="dl-horizontal">
    <dt><strong>Имя:</strong></dt>
    <dd><%= @person.first_name %></dd>
    <dt><strong>Фамилия: </strong></dt>
    <dd><%= @person.last_name %></dd>
    <dt><strong>Пол:</strong></dt>
    <dd><%= @person.sex %></dd>
    <dt><strong>Возраст:</strong></dt>
    <dd><%= @person.age %></dd>
  </dl>
  </h4>
</div>
  <div class="span4">
    <h4>
    <dl class="dl-horizontal">
      <dt><strong><%= @person.school_type %> №:</strong></dt>
    <dd><%= @person.school_number %></dd>
    <dt><strong>Класс:</strong></dt>
    <dd><%= @person.klass %></dd>
  </dl>
  </h4>
</div>


  <div class="span4" >
    <a href="#" class="thumbnail">
          <img data-src="holder.js/260x180" alt="">
      </a>
  </div>

</div>
<%
=end
%>
<hr>
<div class="alert alert-info interests" >
  <h4><%=t '.title', :default => "Интересы:" %></h4>
</div>
<div class="row  interests">
  <div class="span6 offset3 muted">
    <ul>
      <% @person.variants.each do |variant| %> 
        <li> <h5> <%= variant.text %> </h5> </li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<div class="alert alert-info">
  <h4><%=t '.title', :default => "Рекомендуемая сфера деятельности:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted">
    <h5> <%= Service.first.name %> </h5>
  </div>
</div>

<hr>
<div  class="alert alert-info">
  <h4><%=t '.title', :default => "Рекомендуемые профессии КидЛандии:" %></h4>
</div>
<div class="row ">
  <div class="span6 offset3 muted ">
    <%
    list=""  
    @person.variants.each do |variant|
      variant.jobs.each do |job|
        list << " #{job.name} "
      end
    end
    %>
    <% list.split(" ").each do |l|%>
      <li> <h5> <%= l %></h5> </li>
    <% end %>
      <h4> <%#= list %></h4>
  </div>
</div>
<hr />
<p><a class="btnPrint btn btn-primary btn-large" href='iframes/iframe.html' id="print_link">Распечатать</a></p>
</div>
