<% @person = Person.last %>
<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Резюме" %></h1>
</div>
<div class="row" >
  <div class="span8">
  <dl class="dl-horizontal">
  <dt><strong>Имя:</strong></dt>
  <dd><%= @person.first_name %></dd>
  <dt><strong>Фамилия: </strong></dt>
  <dd><%= @person.last_name %></dd>
  <dt><strong>Пол:</strong></dt>
  <dd><%= @person.sex %></dd>
  <dt><strong>№:</strong></dt>
  <dd><%= @person.school_number %></dd>
  <dt><strong>Тип:</strong></dt>
  <dd><%= @person.school_type %></dd>
  <dt><strong>Класс:</strong></dt>
  <dd><%= @person.klass %></dd>
  </dl>

  <div class="form-actions">
           
            </div>
</div>
<div class="span4">
  photo
</div>
</div>

<hr />
<h5>
Рекомендуемые сферы деятельности: <%= Service.first.name %>
</h5>
<hr />
<h4> Рекомендуемые профессии КидЛандии: </h4>
  <% Job.all[0..5].each do |job|  %>
    <%= job.name %>
  <% end %>
<%= link_to "Печать", "#" , :remote => true , :class => "btn btn-large btn-primary"%>
