<div class=row>
  <div class="span6 offset2" >
    <%= image_tag("other.jpg") %>
  </div>
</div>
<hr>
<% @question = Question.all[2] %>

<div class="alert alert-info">
  <h3> <%= @question.text %> </h3>
</div>
<%= form_tag("/resume/question3" , :method => :put)  do  %>
  <%= render "/resume/variants_list" %>
  <hr>
  <div class="form-actions pagination-centered">
    <%= submit_tag "Далі" , :class=> " btn btn-primary btn-large"%>
  </div>
<% end %>




